*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
#title{
    background-color: #4682B4;
    color: #fff;
}
#headinghh{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;;
}
.navbar{
    padding-bottom: 4.5rem !important;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem !important;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "montserrat";
}
.download-button{
    margin: 5% 3% 5% 0 !important;
}
#headinghh{
    text-align: left;
    padding-right:10%;
}
.title-image{
    width: 60%;
    /* transform: rotate(20deg); */
    position: absolute;
    left: 80px;
}
.big-ico{
    font-size: 4.5rem;
    margin-bottom: 1rem;
    color: #6eb5f0;
}
.big-ico:hover{
    color: #4682B4;
}
.row{
    text-align: center;
}
.feature-bar{
    margin-top: 0.5rem !important;
}
#features{
    background-color: #fff;
    padding: 7% 15%;
    z-index: 1;
    position: relatives;

}
.icoo{
    padding: 0 5% !important;
}
.ico-text{
    font-family: "montserrat-bold";
    font-size: 1.5rem;
    font-weight: bold;
}
.ico-opara{
    color: #8f8f8f;
}
h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}
#testimonials{
    text-align: center;
    background-color: #6eb5f0;
    color: #fff;
}
.testimonials-page{
    width: 10%;
    border-radius: 100%;
    margin-right: 20px;
}
#press{
    background-color: #6eb5f0;
    text-align: center;
    padding-bottom: 3% ;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 3% 15%;
}
#pricing{
    padding: 3% 15%;
    text-align: center;
}
.btn-block{
    padding: 2% 25%;
}
.pricing-column{
    padding: 3% 2% ;;
}
@media (max-width: 993px){
    .title-image{
        position: static;
        margin-top: 15%;
    }
}
#cta{
    background-color: #4682B4;
    padding: 5% 15% 0 15%;
    text-align: center;
    color: #fff !important;
    font-weight: bold !important;
    font-family: "montserrat-bold" !important;
}
.h-text{
    font-size: 2.5rem;
    padding: 0 15%;
    font-weight: 501;
    margin-bottom: 3%;
}
.social-row{
    width: 10%; 
    margin: 0.5rem auto;
}
#footer{
    text-align: center;
}